.textSeparator {
    font-size: 16px;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid black;
}

.separator {
    display: flex;
    align-items: center;
}